.carousel-container {
    height: 40%;   
}

.carousel-container>div,
.carousel-container .carousel.carousel-slider,
.carousel-container .slider-wrapper,
.carousel-container .slider,
.carousel-container .slider .slide {
    height: 50%;
}

.carousel-container .slider .slide {
    background-color: transparent;
}

.carousel-container .slider .slide>img {
    width: auto;
      
}

.carousel .slide img {
    width: auto !important;
}

.landing {
    text-align: center;
   }

.landing-logo>img {
    margin-top: 20px;
    width: 275px;
}

.carousel .control-dots {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 90% !important;
}

.company-name {
    font-size: 70px;
}

.tagline {
    font-size: 40px;
}

@media only screen and (min-width: 601px) {
    .control-dots {
        display: none;
    }

    ul.slider.animated {
        background-color: transparent;
        overflow: visible;
    }

    .carousel-container .slider .slide>img {
        height: 550px;
    }

    .buttons-landing {
        height: 28vh;
    }
   

}
@media only screen and (max-width: 600px) {
    .carousel-container .slider .slide>img {
        height: 225px;
    }

    .landing-logo>img {
        width: 150px;
    }
    .buttons-landing {
        margin-top: 2%;
        height: 30vh;
    }

    .company-name {
        font-size: 35px;
    }
    
    .tagline {
        font-size: 20px;
    }
   
  }