.carousel-container {
    height: 400px;
    margin-top: -25px;
    margin-bottom: -35px;
    z-index: 0;
}

.carousel-container>div,
.carousel-container .carousel.carousel-slider,
.carousel-container .slider-wrapper,
.carousel-container .slider,
.carousel-container .slider .slide {
    height: 100%;
}

.carousel-container .slider .slide {
    background-color: transparent;
}

.carousel-container .slider .slide>img {
    width: auto;
      
}

.carousel .slide img {
    width: auto !important;
}

.landing {
    text-align: center;
   }

.landing-logo>img {
    margin-top: 10px;
    height: 125px;
    width: 125px;
}

.carousel .control-dots {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 90% !important;
    margin: -2px 0 !important;
}

.company-name {
    font-size: 40px;
}

.tagline {
    font-size: 25px;
}

/* ----------- iPad Pro 12.9" ----------- */

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .landing-logo>img {
        margin-top: 50px;
        height: 250px;
        width: 250px;
    } 

    .company-name {
        font-size: 70px;
    }
    
    .tagline {
        font-size: 50px;
    }

    .carousel-container .slider .slide>img {
        height: 325px;
    }
    .carousel-container {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    

}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .landing-logo>img {
        margin-top: 10px;
        height: 150px;
        width: 150px;
    } 

    .company-name {
        font-size: 40px;
    }
    
    .tagline {
        font-size: 30px;
    }

    .carousel-container .slider .slide>img {
        height: 325px;
    }
    .carousel-container {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 370px;
    }
}

/* ************************************ */

@media only screen and (min-width: 601px) {
    .control-dots {
        display: none;
    }

    ul.slider.animated {
        background-color: transparent;
        overflow: visible;
    }
  
    .carousel-container .slider .slide>img {
        height: 325px;
    }
    .carousel-container>div,
    .carousel-container .carousel.carousel-slider,
    .carousel-container .slider-wrapper,
    .carousel-container .slider,
    .carousel-container .slider .slide {
        height: 95%;
    }

}
@media only screen and (max-width: 600px) {

    .carousel-container {
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .carousel-container .slider .slide>img {
        height: 225px;
    }

    .landing-logo>img {
        width: 125px;
        height: 125px;
        margin-top: 20px;
    }
    .buttons-landing {
        margin-top: 2%;
        height: 45vh;
    }

    .company-name {
        font-size: 35px;
    }
    
    .tagline {
        font-size: 20px;
    }

    .control-dots {
        padding-top: 10px;
        margin-top: 10px;
    }
   
  }

  /* iPhone X LANDSCAPE MODE */
  @media only screen 
  and (min-device-width: 812px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .carousel-container {
        display: none;
    }      
    .landing-btn {
        width: 200px;
        height: 35px;
        font-size: 2vw;
    }
}
  /* iPhone 6+, 7+, 8+ LANDSCAPE MODE*/
  @media only screen 
  and (min-device-width: 736px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .carousel-container {
        display: none;
    }      
    .main {
        width: 100%;
    }
    .landing {
        height: 100vh;
    }
    .landing-btn {
        width: 200px;
        height: 35px;
        font-size: 2vw;
    }
}

/* iPhone 6, 7, 8 LANDSCAPE MODE*/
@media only screen 
  and (min-device-width: 667px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .carousel-container {
        display: none;
    }      
    .main {
        width: 100%;
    }   

    .landing-logo>img {
        width: 75px;
        height: 75px;
        margin-top: 20px;
    }

    .landing {
        height: 100vh;
    }

    .landing-btn {
        width: 200px;
        height: 35px;
        font-size: 2vw;
    }

}

/* iPhone 5 LANDSCAPE MODE* */
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

     .carousel-container {
        display: none;
    }   

    .landing-logo>img {
        width: 75px;
        height: 75px;
        margin-top: 20px;
    }

    .company-name {
        font-size: 24px;
    }
    
    .tagline {
        font-size: 16px;
    }

    .landing-btn {
        width: 150px;
        height: 30px;
        font-size: 2vw;
    }
}




  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

  /* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    .carousel-container {
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .carousel-container .slider .slide>img {
        height: 225px;
    }

    .landing-logo>img {
        width: 125px;
        height: 125px;
        margin-top: 20px;
    }
    .buttons-landing {
        margin-top: 2%;
        height: 45vh;
    }
    .landing-btn {
        width: 275px;
    }
    .company-name {
        font-size: 35px;
    }
    
    .tagline {
        font-size: 20px;
    }

    .control-dots {
        padding-top: 10px;
        margin-top: 10px;
    }


}

 /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
  /* Portrait */
  @media only screen 
  and (max-device-width: 320px) 
  
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
      .landing-logo>img {
          width: 100px;
          height: 100px;
          margin-top: 10px;
      }
      .landing-btn {
        width: 265px;
    }
  
      .carousel-container .slider .slide>img {
          height: 175px;
      }
  }

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen 
  and (max-device-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .landing-logo>img {
        width: 75px;
        height: 75px;
        margin-top: 10px;
    }

    .company-name {
        font-size: 30px;
    }
    
    .tagline {
        font-size: 15px;
    }

    .carousel-container .slider .slide>img {
        height: 125px;
    }
}
/*------ iPhone4 -------*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 320px)
  and (device-aspect-ratio: 2/3)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .landing-btn { font-size: 21px;
    padding-top: 13px;
    width: 260px;
  }
}
/*--------------------iPad series ----*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
      .landing {
          padding: 11%;
      }
      li {
          font-size: small;
      }

}


/*--------------------iPad Pro ------*/

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      .buttons-landing {
          display: flex;
          justify-content: center;
          flex-direction: column;
      }
      .landing-btn {
          width: 350px;
          height: 50px;
      }
      .landing {
          padding-top: 18%;
          padding-bottom: 24%
      }
      li {
        font-size: larger;
      }
      
}
