.team-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
 }

.eachPerson {
    height: 25%;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: solid 5px white;
    padding-top: 1%;
    padding-bottom: 1%;
}


.eachPerson:nth-child(even) {
    flex-flow: row-reverse nowrap;
}

.eachPerson .profile img {
    border: 3px solid white;
    width: 50%;
    border-radius: 50%;
}

.eachPerson .profile,
.eachPerson .details {
    width: 50%;
}

.eachPerson .profile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.eachPerson .profile p {
    margin: 0;
}

.eachPerson .details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.35em;
}

.eachPerson .details p {
    margin: 0;
}

.eachPerson .details .links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

.eachPerson .details p:nth-child(1) {
    font-weight: lighter;
    margin-bottom: .5em;
}

.eachPerson .details p:nth-child(2) {
    font-size: 1.2em;
}

.eachPerson .details .links img {
    width: 30px;
}

/* ----------- iPad Pro 12.9" ----------- */

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .team-container {
        width:80% !important;
        height: 100%;
        padding-bottom: 21%;
    }
    .team-div-container {
        padding-top: 15%;
    }
 }

 /* ------ DESKTOP -------- */

@media only screen and (min-width: 601px){
    .eachPerson .profile img {
        border: 3px solid white;
        border-radius: 50%;
        width: 30%;
    }
    .team-container{
        margin: 0 auto;   
    }
    
}

 /* iPad mini PORTRAIT mode */
 @media only screen 
 and (min-device-width: 768px) 
 and (max-device-width: 768px) 
 and (orientation: portrait) 
 and (-webkit-min-device-pixel-ratio: 1) {

    .team-container {
        height: 100vh;
    }

 }

@media only screen and (max-width: 600px){
    .team-div-container {
    height: 100%;
    }
}


  /* iPhone X LANDSCAPE MODE */
  @media only screen 
  and (min-device-width: 812px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    
      
    
  }

  /* iPhone 6+, 7+, 8+ Landscape */
@media only screen 
and (min-device-width: 736px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (device-aspect-ratio: 40 / 71)
  and (orientation: portrait) {

    .eachPerson .details {
    padding-top: 0;
}

.eachPerson {
  height: 200px;
  border-bottom: solid 2px white;
}

}
/*------- iPhone 4 ------*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 320px)
  and (device-aspect-ratio: 2/3)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .eachPerson .details {
    padding-top: 0;
}

.eachPerson .profile {
    padding: 7px;
}

.eachPerson {
  height: 200px;
  border-bottom: solid 2px white;
}

}