.results-container {
    height: 100vh;
}

.dropdown {
    background-color: white;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    color: #2A363B;
    font-family: Quicksand;
}

.date {
    font-size: 20px;
    color: #2A363B;
    font-family: Quicksand;
    text-align: center;
}

.date-holder {
    margin: 0
}

.dropdown-center{
    text-align-last: center;
    text-align: center;
    margin-top: 10px;
 }

 .search-inputs {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-title {
    clear: both;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: #FFFFFF 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 2%;
}

@media only screen and (min-width: 601px) {
    .dropdown {
        margin: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .dropdown {
        margin: 0 auto;
    }
}

/* ----------- iPad Pro 12.9" ----------- */

@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {
    .logo-holder>img{
        height: 250px;
        width: 250px;
    }    
    .logo-holder{
        margin-top: 2%;
    }
    .results-container {
        height: 100vh;;
    }
    
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 768px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {
   .logo-holder>img{
       height: 250px;
       width: 250px;
   }    
   .results-container {
    height: initial;
    margin-top: 10%;
    padding-bottom: 36%;
  }

}

/* iPhone 5 LANDSCAPE MODE */
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .results-container {
        height: 100%;
    }
  }

/* iPhone 4 LANDSCAPE MODE  */
@media only screen 
and (min-device-width: 480px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .results-container {
        height: 100%;
    }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

   .search-title {
       margin-bottom: -20px;
   }
    


}

