.responsibilities {
    margin: 0 auto;
    padding: 1% 1% 10% 1%;
    background-color: white;
    color: #2A363B;
    width: 80%;
    margin-bottom: 2%;
    min-height: 20vh;
    text-align: center;
    font-size: 22px;
}

.responsibilities>p:nth-child(2) {
    font-weight: 700;
}

.completed {
    background-color: darkgrey;
}

.x {
    font-weight: 700;
    text-align: right;
    font-size: 30px;
    margin-right: 10px;
}

.mark-complete-btn,
.completed-btn,
.toggle-btn {
    width: 250px;
    height: 45px;
    border-radius: 5px;
    padding-top: 7px;
    margin: 5px;
    font-family: Quicksand, sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    border-width: 2px;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
}

.toggle-btn {
    background-color: rgb(223, 219, 219);
    box-shadow: 0 3px #979696;
    color: #2A363B;
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

.edit {
    text-align: right;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: 700;
    color: #2A363B;
         
}

.btn-grey {
    background-color: #2A363B;
    color: white;
}

@media only screen and (min-width: 601px) {
.responsibilities {
    width: 46%;
    display: inline-block;
    margin: 2%;
    vertical-align: top;

}

}

/*-----------iPad -------------*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
      .resp-content {
        display: flex;
        flex-wrap: wrap;
        width: 90% !important;
      }
    

.mark-complete-btn,
.completed-btn,
.toggle-btn { 
    width: 200px;
}
}

/*------ iPad Pro -----*/

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .resp-content {
        display: flex;
        flex-wrap: wrap;
        width: 90% !important;
    }
   
}

