
.no-results {
    height: 100vh;
}

.concert-part-a>p,
.concert-part-b>p {
    color: #FF847C;
}

.concert-part-a>p>span,
.concert-part-b>p>span {
    color: #FFFFFF;
}

.concert-results {
    margin: 0 auto;
    padding: 1%;
    width: 80%;
    margin-bottom: 2%;
    min-height: 20vh;
}

.hr {
    margin: 0 auto;
    width: 80%;
}

.no-concerts {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}



@media only screen and (min-width: 601px) {
      .concert-part-a>p,
    .concert-part-b>p {
        display: block;
        text-align: center;
    }
    .concert-results {
        margin: 0 auto;
        font-size: 24px;
        width: 60%;
        text-align: center;
    }
    .results {
        margin: 0 auto;
        text-align: center;
    }
    .test {
        /* display: none; */
        visibility: hidden;
    }

    .concert-result-container {
        display: flex;
        align-items: flex-end;
        display: inline-block;
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .test {
        float: right;
        margin-right: 20px;
        background-color: #FF847C;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-weight: 700;
        position: fixed;
        right: 15px;
        bottom: 25px;
        text-align: center;
        box-shadow: 0 3px #c1635d;
        border-color: #c1635d;
        text-shadow: #FFFFFF 0px 0px 2px;
    }
    .up {
        color: white;
    }
    .results{
        background: linear-gradient(to bottom, #2A363B, #100206)
    }

    .concert-results {
        text-align: center;
    }
}

/* Galaxy S4, S5 and Note 3 LANDSCAPE MODE */
@media screen 
  and (min-device-width: 360px) 
  and (max-device-width: 360px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
.concert-result-container {
    text-align: center;
}


  }

/* Pixel 2XL LANDSCAPE MODE */
@media screen
and (min-device-width: 823px) 
and (max-device-width: 823px) 
and (-webkit-device-pixel-ratio: 3.5) 
and (orientation: landscape) {

    .concert-result-container {
        width: 80%;
    }

    .test {
        float: right;
        margin-right: 20px;
        background-color: #FF847C;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-weight: 700;
        position: fixed;
        right: 15px;
        bottom: 25px;
        text-align: center;
        box-shadow: 0 3px #c1635d;
        border-color: #c1635d;
        text-shadow: #FFFFFF 0px 0px 2px;
        visibility: visible;
    }
    .up {
        color: white;
    } 


}

/* iPhone X LANDSCAPE MODE */
@media only screen 
and (min-device-width: 812px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

    .concert-result-container {
        width: 80%;
    }

    .test {
        float: right;
        margin-right: 20px;
        background-color: #FF847C;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-weight: 700;
        position: fixed;
        right: 15px;
        bottom: 25px;
        text-align: center;
        box-shadow: 0 3px #c1635d;
        border-color: #c1635d;
        text-shadow: #FFFFFF 0px 0px 2px;
        visibility: visible;
    }
    .up {
        color: white;
    } 
}

/* iPhone 6+, 7+, 8+ LANDSCAPE MODE*/
@media only screen 
and (min-device-width: 736px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
    .concert-result-container {
        width: 80%;
    }

    .test {
        float: right;
        margin-right: 20px;
        background-color: #FF847C;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-weight: 700;
        position: fixed;
        right: 15px;
        bottom: 25px;
        text-align: center;
        box-shadow: 0 3px #c1635d;
        border-color: #c1635d;
        text-shadow: #FFFFFF 0px 0px 2px;
        visibility: visible;
    }
    .up {
        color: white;
    }


}

/* Pixel 2 LANDSCAPE MODE */
@media screen
and (min-device-width: 731px) 
and (max-device-width: 731px) 
and (orientation: landscape) {
    .concert-result-container {
        width: 80%;
    }

    .test {
        float: right;
        margin-right: 20px;
        background-color: #FF847C;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-weight: 700;
        position: fixed;
        right: 15px;
        bottom: 25px;
        text-align: center;
        box-shadow: 0 3px #c1635d;
        border-color: #c1635d;
        text-shadow: #FFFFFF 0px 0px 2px;
        visibility: visible;
    }
    .up {
        color: white;
    }

}

/* iPhone 6, 7, 8 LANDSCAPE MODE*/
@media only screen 
  and (min-device-width: 667px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .concert-result-container {
        width: 80%;
    }

    .test {
        float: right;
        margin-right: 20px;
        background-color: #FF847C;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-weight: 700;
        position: fixed;
        right: 15px;
        bottom: 25px;
        text-align: center;
        box-shadow: 0 3px #c1635d;
        border-color: #c1635d;
        text-shadow: #FFFFFF 0px 0px 2px;
        visibility: visible;
    }
    .up {
        color: white;
    }
  }

  /* Galaxy S4, S5 and Note 3 LANDSCAPE MODE */
@media screen 
and (min-device-width: 640px) 
and (max-device-width: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {
    .concert-result-container {
        width: 80%;
    }

    .test {
        float: right;
        margin-right: 20px;
        background-color: #FF847C;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-weight: 700;
        position: fixed;
        right: 15px;
        bottom: 25px;
        text-align: center;
        box-shadow: 0 3px #c1635d;
        border-color: #c1635d;
        text-shadow: #FFFFFF 0px 0px 2px;
        visibility: visible;
    }
    .up {
        color: white;
    }

}

  /* iPhone 5 LANDSCAPE MODE* */
@media only screen 
and (min-device-width: 568px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .concert-result-container {
        width: 80%;
        margin: 0 auto;
        
    }

}

/* iPhone 4 LANDSCAPE MODE  */
@media only screen 
and (min-device-width: 480px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

    .concert-result-container {
        width: 80%;
        margin: 0 auto;
        
    }

}