.techSection{
    background-color: ghostwhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    border: 5px solid lightblue;
    
}
.container{
    padding-top: 8%;
    height: 100%;
}

.concert-image-container {
        text-align: center;
}

.concert-image-container > img {
       border: 5px solid white;
}

@media only screen and (max-width: 600px){
    .concert-image-container > img, .techSection{
        max-width: 350px;
    }

}

@media only screen and (min-width: 601px){
    .container {
        padding: 0;
    }
    .concert-image-container > img, .techSection{
        max-width: 600px;
    }
    .description{
        width: 600px;
        margin: 0 auto;
    }
}