.edit-resp-container {
height: 100%;
}


.add-resp-form {
    margin: 0 auto;
   }

.resp-form {
   margin-top: 10%;
}

.standard-textarea {
 margin: 0 auto;
 width: 300px;
 border-radius: 5px;
 text-align: left;
 font-size: 20px;
 font-family: Quicksand;
 display: block;
}


.standard-textarea::placeholder{
    text-indent: 5px;

}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .edit-resp-container {
            height: 100vh;
        }
     }