.edit-resp-container {
height: 100%;
}


.add-resp-form {
    margin: 0 auto;
   }

.resp-form {
   margin-top: 10%;
}

.standard-textarea {
 margin: 0 auto;
 width: 300px;
 border-radius: 5px;
 text-align: left;
 font-size: 20px;
 font-family: Quicksand;
 display: block;
}


.standard-textarea::placeholder{
    text-indent: 5px;

}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .edit-resp-container {
            height: 100vh;
        }
     }

     /*--------------------iPad series ----*/
     @media only screen 
     and (min-device-width: 768px) 
     and (max-device-width: 1024px) 
     and (orientation: portrait) 
     and (-webkit-min-device-pixel-ratio: 2) {
           .edit-resp-container {
                 padding-top: 15%;
                 padding-bottom: 15%;
                 height: 100%;
           }
     
     }
     /*--------------------iPad Pro ------*/
     
     @media only screen 
       and (min-device-width: 1024px) 
       and (max-device-width: 1366px) 
       and (orientation: portrait) 
       and (-webkit-min-device-pixel-ratio: 1.5) {
           .add-resp-container {
                 padding-top: 9%;
                 padding-bottom: 37%;
                 height: 100%;
           }
     }
    