*{
    box-sizing: border-box
}

.concert-overview,
.attendees {
    margin: 0 auto;
    padding: 1%;
    
    
    width: 80%;
    margin-bottom: 2%;
    min-height: 15vh;
    border-radius: 2%;
}

.attendees {
    color: #2A363B;
    background-color: white;
}

.attendees {
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftSide, .rightSide{
    text-align: center;
    
}
.attendees>div>span {
    margin: 5%;
}
.leftSide{
    margin-right: 3em;
}

.concert-overview>p {
    margin: 0;
    font-size: 18px;
    color: white;
}
.concert-overview div{
    text-align: center;
}

.bottom-content > .imageArea{
    text-align: center;

}

.bottom-content > .imageArea > img{
    border: 1px solid grey;
    border-radius: 7%;
    width: 20%;
}

@media only screen and (min-width: 601px) {
    .concert-overview,
    .attendees {
        padding: 1%;
        width: 45%;
        margin-bottom: 2%;
        min-height: 10vh;
    }
}

@media only screen and (max-width: 600px) {
    .bottom-content {
        margin-top: 8%;
    }
    .bottom-content>.imageArea>img {
        border: 1px solid lightgrey;
        border-radius: 7%;
        width: 75%;
    }

}

.leftSide, .rightSide{
    width: 25%;
}
