.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-main {
    border-radius: 2%;
    position: fixed;
    background: white;
    opacity: 0.9;
    height: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.button-color {
    color: 'white';
    background-color: darkgray;
}

.modal-p {
    color: black;
    text-align: center;
    font-size: 24px;
}

.black-btn {
    color: white;
    background-color: black;
}

@media only screen and (max-width: 600px){
   .modal-main {
       top: 40%;
       height: 40%
          
   }
}

@media only screen and (min-width: 601px){
    .modal-main {
        min-width: 325px;
    }
}
