.newtrip-2 {
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.newtrip-2>img {
    max-width: 400px;
}

.modalShadow {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}

.mainModal {
    height: 75%;
    position: fixed;
    background-color: white;
    color: black;
    text-align: center;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal.modalShadow.showModal {
    display: block;
}

.modalHeader {
    padding-top: 15px;
    padding-right: 15px;
    text-align: right;
}

@media only screen and (min-width: 601px) {
    .mainModal {
        height: 50%;
        padding: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .newtrip-2>img {
        max-width: 275px;
    }
    .mainModal {
        width: 90%;
    }
}