.signup {
    margin: 0 auto;
}

.signup-inputs {
    text-align: center;
}
.hidden {
    display:none;
}

.show {
    text-align: center;
}
.div-container{
    height: 96vh;
}
/* @media only screen and (min-width: 600px) {
    .div-container{
        height: 100vh;
    }
} */