/* .center{ */
    /* text-align: center;
    color: white;
    color: #FF847C; */
    /* text-shadow: #FFFFFF 1px 1px 3px; */
    /* -webkit-font-smoothing: antialiased;
    margin-top: 20%;
} */
.center{
    height: 100vh;
}
.hideNav{
    display: none;
}
@media only screen and (max-width: 600px) {
    .center {
        text-align: center;
        color: white;
        color: #FF847C;

        -webkit-font-smoothing: antialiased;
        margin-top: 20%;
    }
    .img404{
        width:90%
    }
}

@media only screen and (min-width: 600px) {
    .center {
        text-align: center;
        color: white;
        color: #FF847C;
        -webkit-font-smoothing: antialiased;
        margin-top: 2%;
    }
    .img404{
           height: 80%;
           width: 100%;
    }
}