@media only screen and (min-width: 601px) {
    .top-link {
        text-align: center;
    }
    .top-link>a>img {
        width: 100px;
        padding-top: 20px;
        padding-left: 5px;
        vertical-align: center;
    }
    .app-name {
        color: #FF847C;
        display: inline-block;
        vertical-align: center;
        font-size: 42px;
        margin: 0;
        padding-left: 20px;
        padding-bottom: 25px;
        vertical-align: bottom;
    }
}

@media only screen and (max-width: 600px) {
    .top-link {
        float: right;
        padding-top: 12px;
        margin-right: 15px;
    }
    .top-link>a>img {
        max-width: 60px;
    }
    .app-name {
        display: none;
    }
}