.invite-container {
    height: 100vh;
}


.invite-friends {
    height: 100%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}

.invite-emails {
    margin: 0 auto;
    text-align: center;
}

.email-container {
    text-align: center;
}

@media only screen and (max-width: 600px) {
.invite-friends {
    margin-top: 15%;
}

}