.invite-friends {
    height: 100%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}

.invite-emails {
    margin: 0 auto;
    text-align: center;
}

.email-container {
    text-align: center;
}

.green {
    border: 5px solid green;
}
.red {
    border: 5px solid red;
}

@media only screen and (max-width: 600px) {
.invite-friends {
    margin-top: 15%;
}

}