.invite-container {
    height: 100vh;
}


.invite-friends {
    height: 100%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}

.invite-buttons {
    cursor: pointer;
}
.invite-emails {
    margin: 0 auto;
    text-align: center;
}

.email-container {
    text-align: center;
}

@media only screen and (max-width: 600px) {
.invite-friends {
    margin-top: 15%;
}

}

.grey-btn {
    background-color: grey;
    box-shadow: 0 5px #979696;
    border: 0;
    color:white;
    text-shadow: #FFFFFF 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
}

/* iPhone 5 LANDSCAPE MODE* */
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
 
    .invite-container {
        height: 125vh;
    }
    
  }

  /* iPhone 4 LANDSCAPE MODE  */
@media only screen 
and (min-device-width: 480px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

    .invite-container {
        height: 125vh;
    }
    
}