.invite-container {
    height: 100vh;
}


.invite-friends {
    height: 100%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}

.invite-emails {
    margin: 0 auto;
    text-align: center;
}

.email-container {
    text-align: center;
}

@media only screen and (max-width: 600px) {
.invite-friends {
    margin-top: 15%;
}

}
/*------iPad Pro ------*/

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
     
    
}

/* iPhone 5 LANDSCAPE MODE* */
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
 
    
  }