.concert-details-main {
    font-size: 24px;
}

.c-details {
    margin: 0 auto;
    text-align: center;
    height: 100%;
}

.concert-details-a>p,
.concert-details-b>p,
.concert-details-c>p {
        color: #FF847C;
        margin: 0, 0, 5px, 0;

    }

@media only screen and (min-width: 601px) {
    .concert-details-a,
    .concert-details-b,
    .concert-details-c {
        vertical-align: top;
        width: 45%;
        margin: 0 auto;
    }
    .concert-details-a>p,
    .concert-details-b>p,
    .concert-details-c>p {
        display: inline-block;
        margin-right: 10px;
        
    }
    .concert-details-a>p>span,
    .concert-details-b>p>span,
    .concert-details-c>p>span {
        display: inline-block;
        color: white;
    }
    .c-details>img {
        max-width: 400px;
    }

    .c-details {
        height: 100vh;
    }
}

@media only screen and (max-width: 600px) {
 
    .concert-details-a>p,
    .concert-details-b>p,
    .concert-details-c>p {
        font-size: 20px;
        
    }
    .concert-details-a>p>span,
    .concert-details-b>p>span,
    .concert-details-c>p>span {
        color: white;
    }

    .c-details>img {
        max-width: 275px;
    }

   }

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .c-details {
            height: 100vh;
        }
     }