.delete-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.delete-modal-main {
    width: 94%;
    border-radius: 2%;
    position: fixed;
    background: white;
    color: black;
    opacity: 0.9;
    height: 28%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.blue-btn{
    background-color: powderblue;
    box-shadow: 0 5px powderblue;
    border-color: powderblue;
    color: white;
    text-shadow: #FFFFFF 0px 0px 2px;
}