.no-resp-container {
    height: 100vh;
}
.resp-content {
    margin: 0 auto;
    text-align: center;
    
}
.no-resp-main {
   text-align: center; 
    
}

.no-resp {
    font-size: 30px;
    margin-top: 50px;
    
}

.modalFont{
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin-top: 20%;
}

@media only screen and (min-width: 601px) {
    .resp-content {
        width: 70%;
    }

    .no-resp {
        margin-bottom: 20px;
    }
    .modalFont{
        font-size: 2em;
        color: black;
        text-align: center;

    }
    .modal-main {
        width: 30%;
        height: 50%;
    }

}


/*--------------------iPad Pro ------*/

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
     .no-resp-container {
        height: initial;
        
     }
     .resp-title{
         padding-top: 15%;
         padding-bottom: 5%;
     }
  
     .resp-content {
         padding-bottom: 15%
     }
     .resp-buttons {
         padding-bottom: 14%;
     }
}

