
.add-resp-container {
      height: 100%;
}


.add-resp-form {
       margin: 0 auto;
      }

.resp-form {
      margin-top: 10%;
}

.standard-textarea {
    margin: 0 auto;
    width: 300px;
    border-radius: 5px;
    text-align: left;
    font-size: 20px;
    display: block;
    font-family: Quicksand;

}
.inputs > .standard-textarea{
      font-family: Quicksand;
}


@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .add-resp-container {
            height: 100vh;
        }
     }

     /*--------------------iPad series ----*/
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {
      .add-resp-container {
            padding-top: 9%;
            padding-bottom: 12%;
            height: 100%;
      }

}
/*--------------------iPad Pro ------*/

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      .add-resp-container {
            padding-top: 9%;
            padding-bottom: 37%;
            height: 100%;
      }
}