
.add-resp-container {
      height: 100%;
}


.add-resp-form {
       margin: 0 auto;
      }

.resp-form {
      margin-top: 10%;
}

.standard-textarea {
    margin: 0 auto;
    width: 300px;
    border-radius: 5px;
    text-align: left;
    font-size: 20px;
    display: block;
    font-family: Quicksand;

}
.inputs > .standard-textarea{
      font-family: Quicksand;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .add-resp-container {
            height: 100vh;
        }
     }