@import url('https://fonts.googleapis.com/css?family=Fjalla+One');



.detailsHeader, .imageContainer, .buttonArea{
    text-align: center;
}

.detailsHeader{
    font-family: Fjalla One;
}

.acceptanceContainer {
    padding-top: 14%;
}
.concert-overview-acceptance,
.attendees {
    margin: 0 auto;
    padding: 1%;
    background-color: white;
    color: #2A363B;
    /* width: 80%; */
    margin-bottom: 2%;
    min-height: 17vh;
}

.concert-overview-acceptance h2{
    font-size: 1.2em;
    text-align: center;
    font-family: Fjalla One;
}

.concert-overview-acceptance h2 span {
    font-size: 1em;
    color: #2A363B;
    font-weight: lighter;
    font-family: Fjalla One;

}

.attendees-acceptance {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 14vh;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 4%;

}
.attendees-acceptance > div {
    font-family: Fjalla One;
}
.leftSide,
.rightSide {
    text-align: center;
    color: #2A363B;
}

.attendees>div>span {
    margin: 5%;
}

.leftSide {
    margin-right: 3em;
}

.concert-overview>p {
    margin: 0;
    font-size: 18px;
}

.concert-overview div {
    text-align: center;
}

@media only screen and (min-width: 601px) {

    .concert-overview,
    .attendees {
        padding: 1%;
        width: 45%;
        margin-bottom: 2%;
        min-height: 10vh;
    }
    .acceptanceContainer{
        padding-top: 0;
    }
    .concert-overview-acceptance,
    .attendees {
        margin: 0 auto;
        padding: 1%;
        background-color: white;
        color: #2A363B;
        width: 50%;
        margin-bottom: 2%;
        min-height: 17vh;
    }
    .attendees-acceptance{
        width: 50%;
    }
}

@media only screen and (max-width: 601px) {
    .imageContainer > img {
        width: 60%;
    }
}

.leftSide,
.rightSide {
    width: 25%;
}